@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* { /*This section resets margin, padding, and box-sizing for all elements*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 { /*This section defines styles for heading elements (h1, h2, h4, and h6), including font size, line height, and color*/
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #1a1616;
    margin: 15px 0 20px 0;
}

.section-p1 { /*This section defines padding and margin for section elements with class "section-p1" and "section-m1"*/
    padding: 40px 80px;
}

.section-m1 { 
    margin: 40px 0;
}

button.normal { /*This section defines styles for button elements with class "normal*/
    font-size: 12px;
    font-weight: 525;
    padding: 16px 20px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .2s;
}

button.white { /*This section defines styles for button elements with class "white" including cursor, border, outline, and transitions.*/
    font-size: 11px;
    font-weight: 525;
    padding: 10px 16px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: .2s;
}

body {
    width: 100%;
}


/* Header Start */

#header{ /*This section defines styles for the header element (with id "header"), including display, alignment, padding, background color, box shadow, z-index, position, and sticky behavior.*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{ /*This section defines styles for the navbar element (with id "navbar") and its child list items (li), including display, alignment, padding, and relative positioning*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 515;
    color: #1a1a1a;
    transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active { /*This sets the color of the text to #1175e7 (a shade of blue) when a link inside the navbar is hovered over or when it is active*/
    color: #1175e7;
}

#navbar li a.active::after,
#navbar li a:hover::after { /*This adds a pseudo-element (::after) to the links inside the navbar when they are active or hovered over*/
    content: ""; /*The pseudo-element is empty and has a width of 40%, height of 2px, and a background color*/
    width: 40%;
    height: 2px;
    background: #1175e7;
    position: absolute; /*positioned absolutely at the bottom -4px and left 11px of the parent element, creating an underline effect below the links*/
    bottom: -4px;
    left: 11px
}

/*These lines hide the elements with IDs "mobile" and "close" by setting their display property to "none", making them not visible on the web page*/
#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Home Page This styles the element with ID "hero" as the hero section of a web page*/
#hero{
    background-image: url(./img/people/hero.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover; /*It sets the background size to cover, so the image covers the entire element*/
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex; /*It displays the element as a flex container with flex-direction set to column, align-items set to flex-start 
    (aligning items to the left), and justify-content set to center (centering items vertically)*/
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
}

#hero h4{ /*This adds padding of 9 pixels at the bottom of the h4 element inside the element*/
    padding-bottom: 9px;
}

#hero h1 { /*This sets the color of the h1 element inside the element with ID and sets the opacity*/
    color: #fa8072;
    opacity: .75;
}

#hero button { /*This styles the button element inside the element within ID*/
    background-image: url(./img/logoandbutton/button.png);
    background-color: transparent;
    color: #1175e7;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat; /*It sets the background image to not repeat*/
    cursor: pointer; /*It sets the cursor to a pointer, indicating it is clickable.*/
    font-weight: 515;
    font-size: 15px;
}

#hero button:hover { /*This sets the color of the button element inside the element with ID "hero" to azure when the button is hovered over*/
    color: azure;
    transition: .3s; /*It adds a transition effect of 0.3 seconds to smoothly animate the color change.*/
}

#feature { /*This styles the element with ID "feature" as a flex container*/
    display: flex; /*t sets the display property to flex, making its children elements flex items*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /*It allows the children elements to wrap to the next line if they exceed the container's width*/
}

#feature .fe-box { /*This styles the elements with class "fe-box" inside the element with ID "feature"*/
    width: 180px;
    text-align: center;
    padding: 20px 10px; /*It adds padding of 20px on the top and bottom, and 10px on the left and right*/
    box-shadow: 18px 18px 32px rgba(0, 0, 0, 0.03); /*It adds a box shadow with an offset of 18px on the top and right, with a blur radius of 32px*/
    border: 1px solid #cce7d0;
    border-radius: 3px;
    margin: 15px 0;
}

#feature .fe-box:hover { /*This sets the box shadow of the elements with class "fe-box" inside the element with ID "feature" when they are hovered over.
It sets the box shadow to 10px on the top and right, with a blur radius of 54px*/
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img { /*This styles the images inside the elements with class "fe-box" inside the element with ID "feature"*/
    width: 100%; /*It sets the width of the images to 100%, making them responsive and fill the width of their container*/
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#02782f;
    background-color:#fa807262;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #1b3ecd7d;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d7dd39b3;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #4d441472;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #73e1a8cb;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #bb58e279;
}

#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    flex-wrap: wrap;
}

#product1 .pro {
     width: 23%;
     min-width: 250px;
     padding: 8px 10px;
     border: 1px solid #cce7d0;
     border-radius: 22px;
     cursor: pointer;
     box-shadow: 18px 18px 32px rgba(0, 0, 0, 0.02);
     margin: 15px 0;
     transition: 0.2 ease;
     position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 32px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 12px;
}

#product1 .pro .des i{
    font-size: 10px;
    color: rgb(423, 181, 25);
    padding-top: 5px;
}

#product1 .pro .des h4 {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 655;
    color: #19cb28;
}

#product1 .pro .fa-shopping-cart {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50px;
    background-color:#e8f6ea;
    font-weight: 500;
    color: #540c7b;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./img/banner/b2.jpeg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner span {
    color: #ef3636;
}

#banner button:hover {
    color: #fff;
    background-color: #606063;
    transition: .3s ease;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./img/banner/b17.jpeg);
    min-width: 500px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner2 {
    background-image: url(./img/banner/b10.jpeg);
}

#sm-banner h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
}

#sm-banner span {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 12px;
}

#sm-banner h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
}

#sm-banner .banner-box:hover button {
    background: #02782f;
    border: 1px solid #02782f;
}

#banner3 {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 0 50px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./img/banner/b7.jpeg);
    min-width: 30%;
    height: 35vh;
    background-size: cover;
    background-position: center;
    padding: 15px;
    margin-bottom: 18px;
}

#banner3 .banner-box2 {
    background-image: url(./img/banner/b18.jpeg);
}

#banner3 .banner-box3 {
    background-image: url(./img/banner/b4.jpeg);
}

#banner3 h2 {
    color: #fff;
    font-weight: 775;
    font-size: 20px;
}

#banner3 h3 {
    color: #ef3636;
    font-weight: 700px;
    font-size: 14px;

}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(./img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #140e69;
}

#newsletter h4 {
    font-size: 24px;
    font-weight: 625;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 560;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}
#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 12px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #02782f;
    color: #fff;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 525;
    padding: 16px 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 12px;
    padding-bottom: 20px;
}

footer p {
    font-size: 12px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 12px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 18px;
}

footer .follow i {
    color: #465b52;
    padding-right: 2px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088b83 ;
    border-radius: 4px;
}

footer .install img {
    margin: 8px 0 15 0;
}

footer .follow i:hover,
footer a:hover {
    color:#10ceef
}

footer .copyright {
    width: 100%;
    text-align: center
}


/* Shop Page */

#page-header {
    background-image: url(./img/banner/b1.jpeg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 12px;
}

#page-header h2,
#page-header p {
    color:#E3E6F3;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #02782f;
    padding: 10px 12px;
    border-radius: 4px;
    color: #fff;
    font-weight: 525;
}

#pagination a i {
    font-size: 14px;
    font-weight: 525px;
}

/*Individual Products Page */

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 35%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 35px 0 22xp 0;
    margin-bottom: 18px;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details span,
#prodetails .single-pro-details li
 {
    font-size: 12px;
    font-family: Optima;
    margin-top: 8px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 8px;
}

#prodetails .single-pro-details input {
    width: 45px;
    height: 35px;
    padding-left: 8px;
    font-size: 14px;
    margin-right: 8px;
    margin-bottom: 24px;
}

#prodetails .single-pro-details button {
    font-size: 12px;
    font-weight: 525;
    padding: 16px 18px;
    color: #fff;
    background-color: #088b83;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-bottom: 24px;
}
#prodetails .single-pro-details button:hover {
    font-size: 8px;
    background-color: #10ceef;
    transition: .3s;
}

/* Blog Page */
#page-header.blog-header {
    background-image: url(./img/banner/b19.jpeg);
}

#blog {
    padding: 130px 130px 0 130px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 92px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 625;
    position: relative;
}

#blog .blog-details a::after {
    content: '';
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #10ceef;
    transition: 0.2s;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 71px;
    font-weight: 685;
    color: #c9cbce;
    z-index: -1;
}

#blog .blog-details a:hover::after {
    background-color: #10ceef;
}

/* About Page */

#page-header.about-header{ /*banner image*/
    background-image: url(img/banner/banner.png);
}

#about-hd img{ /* setting image dimensions*/
    width: 50%;
    height: auto;
}

#about-hd { /*aligning container*/
    display: flex;
    align-items: center;
}

#about-hd div { /*adds left space between image and text*/
    padding-left: 42px;
}

#about-app { /*centers containers contents*/
    text-align: center;
}

#about-app a { /*removes underline from hyperlink*/
    text-decoration: none;
}
#about-app a:hover {
    color: #10ceef;
    cursor: pointer;
}

#about-app .video { /*setting dimensions for the videos border */
    width: 70%;
    height: 100%;
    margin: 25px auto 0 auto;
}

#about-app .video video { /*setting dimensions & border for video*/
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

/* Contact Page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{ /*arranges text to one side of the screen*/
    width: 30%;
}

#contact-details .details span,
#form-details form span { 
    font-size: 11px;
}

#contact-details .details h2,
#form-details form h2 { /*targets elemets to give desired font size*/
    font-size: 24px;
    line-height: 30px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 12px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 8px 0;
}
#contact-details .details li i { /*styles icons to align them with corressponding text*/
    font-size: 12px;
    padding-right: 18px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 12px;
}

#contact-details .map { /*custom dimensions for map display*/
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}
#form-details { /*allows img icons and contact details to align on one side of the page*/
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 75px;
    border: 1px solid #e1e1e1; /*added border around form*/
    margin-left: 20px;
}

#form-details form { /*targerst form to align input fields in the same column with size styling*/
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 10px 12px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #465b52;
}

#form-details form button { /*styles submit button at the bottom of form*/
    background-color: #088b83;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 22px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img { /*targets img icons to give them styling properties*/
    width: 62px;
    height: 62px;
    object-fit: cover;
    margin-right: 12px;
}

#form-details .people div p {
    margin: 0;
    font-size: 11px;
    line-height: 22px;
}

#form-details .people div p span { /*styles font associated with img icons*/
    display: block;
    font-size: 15px;
    font-weight: 550;
    color: #000;
}

/* Cart Page */

#cart {
    overflow-x: auto;
}
#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img { /*gives size to images*/
    width: 75px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 130px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 225px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 130px;
    text-align: center;
}

#cart table td:nth-child(5) input { /*styles input field*/
    width: 55px;
    padding: 10px 5px 10px 12px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td { /*adds styling to table head data*/
    font-weight: 635;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 12px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 25px;
}

#coupon h3{
    padding-bottom: 12px;
}

#coupon input{ /*applys dimensions and properties of the input field */
    padding: 10px 20px;
    outline: none;
    width: 57%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: #088b83;
    color: #fff;
    padding: 12px 15px;
}

#subtotal{ /*creates border around subtotal table */
    width: 40%;
    margin-bottom: 25px;
    border: 1px solid #e2e9e1;
    padding: 20px;
}

#subtotal table { /*borders are seperated each cell will display its own border*/
    border-collapse: separate;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 12px;
}
#coupon h3,
#subtotal h3 {
    font-size: 22px;
    font-weight: 410;
}

#subtotal table td { /*gives subtotal table visible collumns and rows*/
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 16px;
}


/* Start Media Query */

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px ;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 22px;
        padding-left: 18px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 26px;
        left: 26px;
        color: #222;
        font-size: 16px;
        text-decoration: none;
    }
    #lg-bag{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 20px;
    }
    #banner {
        height: 20vh;
    }#sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        min-width: 28%;
    }
    #newsletter .form {
        width: 65%;
    }

    /*Contact Page */

    #form-details { /*removes extra padding in form section of contact page*/
        padding: 40px;
    }
    #form-details form {
        width: 50%;
    }
}

@media (max-width: 477px) { /*media query for smaller mobile devices*/
    .section-p1 {
        padding: 20px 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h1{
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner {
        height: 30vh;
    }
    #sm-banner .banner-box {
        height: 30vh;
    }
    #sm-banner .banner2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        min-width: 100%;
    }
    #newsletter {
        padding: 36px  16px;
    }
    #newsletter .form {
        width: 100%;
    }
    footer .copyright {
        text-align: start;
    }

    /* Single Product responsive alightment */
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details {
        width: 100%;
    }

    /* Making blog page responsive for mobile devices */

    #blog { /* reducing the (white space) around contents */
        padding: 95px 30px 0 30px;
    }

    #blog .blog-box { /*aligns contents within the class & ID*/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img { /*increasing image sizes and spacing for smaller devices */
        width: 100%;
        margin-right: 0px;
        margin-bottom: 27px;
    }

    #blog .blog-details {
        width: 90%;
    }

    /*making about page responsive to smaller mobile devices*/
    h2 {
        font-size: 30px;
        text-align: center;
    }
    #about-hd {
        flex-direction: column;
    }
    #about-hd img {
        width: 100%;
        margin-bottom: 15px;
    }
    #about-hd div {
        padding-left: 2px;
    }
    #about-app .video {
        width: 100%;
    }

    /*Contact Page for mobile */
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 25px;
    }
    #contact-details .map {
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 25px;
    }

    /*Cart mobile responsiveness*/
    #cart-add { /*adjusts apply coupon section to align items*/
        flex-direction: column;
    }

    #coupon { /*adjust dimension to expand input field*/
        width: 100%;
    }
    #subtotal { /*increases tables size for easier readability*/
        width: 100%;
        padding: 16px;
    }
}
